div.recipeThumb { 
			   width: 180px;
			   float: left;
			   margin: 10px;
			   padding: 15px 15px 15px 15px;
			   background-color: #fff; 
			   box-shadow: 0 1px 3px rgba(34,25,25,0.4); 
			   -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
			   -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

div.recipeViewDescription{
	padding: 15px 15px 0px 15px;
	font-style: italic;	
}

.recipeViewLabel{
	padding: 15px 15px 0px 15px;
		
}

div.recipeViewValue{
	padding: 0px 15px 15px 15px;	
}

.baseContainer: {
	border-left: 1px solid CCCCCC;
}

.x-menu-item-icon{
    display:none !important;
}

.x-menu-item-link{
	padding-left: 5px !important;
 }
 
.menuBase {   
	background-color:FFFFFF !important;
	padding-left: 25px;
}

* {
    font-size: 11 !important;
	font-family: Helvetica !important;
}

.thumbTitle {
	font-weight: bold;
}

.logoDiv {
	background-color: 4C5D91;	
}